<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Home</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container">
    <!-- <div id="logoutDiv">
         <form action="#" th:action="@{/logout}" method="POST">
             <button type="submit" class="btn btn-secondary float-right" id="logoutButton">Logout</button>
         </form>
     </div>-->
    <div id="contentDiv" style="clear: right;">
        <nav style="clear: right;">
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-images-tab" data-toggle="tab" href="#nav-images" role="tab"
                   aria-controls="nav-images" aria-selected="true">Images</a>
                <a class="nav-item nav-link" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab"
                   aria-controls="nav-files" aria-selected="false">Files</a>
                <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab"
                   aria-controls="nav-notes" aria-selected="false">Notes</a>
                <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials"
                   role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
                <form th:action="@{/logout}" method="POST">
                    <button type="submit" class="nav-link btn-outline-primary" id="logoutButton">Logout</button>
                </form>

            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">

            <!-- IMAGE -->
            <div class="tab-pane fade show active" id="nav-images" role="tabpanel" aria-labelledby="nav-images-tab">
                <br><br>
                <form action="#" th:action="@{/image/upload}" enctype="multipart/form-data" method="POST">
                    <div class="container">
                        <div class="row" style="margin: 1em;">
                            <div class="col-sm-2">
                                <label for="imageUpload">Upload New Image</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="file" class="form-control-file" id="imageUpload" name="imageUpload">
                            </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-outline-secondary">Upload</button>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table table-bordered table-striped" id="imageTable">
                    <thead>
                    <tr>
                        <th>Image Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="image : ${images}">
                        <td th:text="${image.imageName}">ExamplePhoto.jpg</td>
                        <td>
                            <a target="_blank" class="btn btn-success"
                               th:href="@{/image/view/{imageId}(imageId=${image.imageId})}">View</a>
                            <a class="btn btn-danger"
                               th:href="@{/image/delete/{imageId}(imageId=${image.imageId})}">Delete</a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>

            <!-- FILE -->
            <div class="tab-pane fade" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                <br><br>
                <form action="#" th:action="@{/file/upload}" enctype="multipart/form-data" method="POST">
                    <div class="container">
                        <div class="row" style="margin: 1em;">
                            <div class="col-sm-2">
                                <label for="fileUpload">Upload New File</label>
                            </div>
                            <div class="col-sm-6">
                                <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                            </div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-outline-secondary">Upload</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!--  <div class="table-responsive">
                      <table class="table table-striped" id="fileTable">
                          <thead>
                          <tr>
                              <th style="width: 20%" scope="col"></th>
                              <th style="width: 80%" scope="col">File Name</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr th:each="file : ${files}">
                              <td>
                                  <a target="_blank" class="btn btn-success"
                                     th:href="@{/file/view/{fileId}(fileId=${file.fileId})}">View</a>
                                  <a class="btn btn-danger"
                                     th:href="@{/file/delete/{fileId}(fileId=${file.fileId})}">Delete</a>
                              </td>
                              <th scope="row" th:text="${file.fileName}">ExampleFile.txt</th>
                          </tr>
                          </tbody>
                      </table>
                  </div>
  -->
                <table class="table table-bordered table-striped" id="fileTable">
                    <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="file : ${files}">
                        <td th:text="${file.fileName}">ExampleFile.txt</td>
                        <td>
                            <a target="_blank" class="btn btn-success"
                               th:href="@{/file/view/{fileId}(fileId=${file.fileId})}">View</a>
                            <a class="btn btn-danger"
                               th:href="@{/file/delete/{fileId}(fileId=${file.fileId})}">Delete</a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>

            <!-- NOTE -->
            <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                <br><br>
                <button style="margin: 0.25em;" type="button" class="btn btn-info " id="noteAdd"
                        onclick="showNoteModal()">
                    + Add a New Note
                </button><br><br>
                <table class="table table-bordered table-striped" id="notesTable">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="note : ${notes}">
                        <td th:text="${note.noteTitle}">Example Note Title</td>
                        <td th:text="${note.noteDescription}">Example Note Description</td>
                        <td>
                            <button type="button" class="btn btn-success" id="noteEdit"
                                    th:onclick="showNoteModal([[${note.noteId}]],[[${note.noteTitle}]],[[${note.noteDescription}]])">
                                Edit
                            </button>
                            <a class="btn btn-danger" id="noteDelete"
                               th:href="@{/note/delete/{noteId}(noteId=${note.noteId})}">Delete</a>
                        </td>
                    </tr>
                    </tbody>

                </table>


                <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" th:action="@{/note/add}" th:object="${notes}" method="POST">
                                    <input type="hidden" name="noteId" id="note-id">
                                    <div class="form-group">
                                        <label for="note-title" class="col-form-label">Title</label>
                                        <input type="text" name="noteTitle" class="form-control" id="note-title"
                                               maxlength="20" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="note-description" class="col-form-label">Description</label>
                                        <textarea class="form-control" name="noteDescription" id="note-description"
                                                  rows="5" maxlength="1000" required></textarea>
                                    </div>
                                    <button id="noteSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="noteClose">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary" id="noteSave"
                                        onclick="$('#noteSubmit').click();">
                                    Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CREDENTIAL -->
            <div class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                <br><br>
                <button style="margin: 0.25em;" type="button" class="btn btn-info" id="credentialAdd"
                        onclick="showCredentialModal()">
                    + Add a New Credential
                </button><br><br>

                <div class="table-responsive">
                    <table class="table table-striped" id="credentialTable">
                        <thead>
                        <tr>
                            <th style="width: 35%" scope="col">URL</th>
                            <th style="width: 20%" scope="col">Username</th>
                            <th style="width: 25%" scope="col">Password</th>
                            <th style="width: 20%" scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="credential : ${credentials}">
                            <th scope="row" th:id="credentialUrlText" th:text="${credential.url}">Example Credential
                                URL
                            </th>
                            <td th:id="credentialUsernameText" th:text="${credential.username}">Example Credential
                                Username
                            </td>
                            <td th:id="credentialPasswordText" th:text="${credential.password}">Example Credential
                                Password
                            </td>
                            <td>
                                <button type="button" class="btn btn-success" id="credentialEdit"
                                        th:onclick="showCredentialModal([[${credential.credentialId}]],[[${credential.url}]],[[${credential.username}]],[[${encryptionService.decryptValue(credential.password, credential.key)}]])">
                                    Edit
                                </button>
                                <a class="btn btn-danger" id="credentialDelete"
                                   th:href="@{/credential/delete/{credentialId}(credentialId=${credential.credentialId})}">
                                    Delete
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog"
                     aria-labelledby="credentialModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="#" th:action="@{/credential/add}" th:object="${credentials}"
                                      method="POST">
                                    <input type="hidden" name="credentialId" id="credential-id">
                                    <div class="form-group">
                                        <label for="note-title" class="col-form-label">URL</label>
                                        <input type="text" name="url" class="form-control" id="credential-url"
                                               maxlength="100" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="note-title" class="col-form-label">Username</label>
                                        <input type="text" name="username" class="form-control" id="credential-username"
                                               maxlength="30" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="note-title" class="col-form-label">Password</label>
                                        <input type="text" name="password" class="form-control" id="credential-password"
                                               maxlength="30" required>
                                    </div>
                                    <button id="credentialSubmit" type="submit" class="d-none"></button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                        id="credentialClose">Close
                                </button>
                                <button type="button" class="btn btn-primary" id="credentialSave"
                                        onclick="$('#credentialSubmit').click();">
                                    Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>


<script type="text/javascript">

    function showNoteModal(noteId, noteTitle, noteDescription) {
        $('#note-id').val(noteId ? noteId : '');
        $('#note-title').val(noteTitle ? noteTitle : '');
        $('#note-description').val(noteDescription ? noteDescription : '');
        $('#noteModal').modal('show');
    }

    // For opening the credentials modal
    function showCredentialModal(credentialId, url, username, password) {
        $('#credential-id').val(credentialId ? credentialId : '');
        $('#credential-url').val(url ? url : '');
        $('#credential-username').val(username ? username : '');
        $('#credential-password').val(password ? password : '');
        $('#credentialModal').modal('show');
    }
</script>
<!--For opening the note modal-->
<script type="text/javascript">
    // For opening the note modal

</script>
</body>
</html>