<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Sign Up</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0 ">
                        <div class="col-md-12 col-lg-12 d-flex align-items-center">
                            <div class="card-body p-2 p-lg-5 text-black align-items-center">

                                <form action="#" th:action="@{/signup}" method="POST">
                                    <div id="success-msg" th:if="${signupSuccess}" class="alert alert-dark">
                                        You successfully signed up! Please continue to the <a class="login-link"
                                                                                              th:href="@{/login}">login</a>
                                        page.
                                    </div>
                                    <div id="error-msg" th:if="${signupError}" class="alert alert-danger">
                                        <span th:text="${signupErrorMessage}">Example Signup Error Message</span>
                                    </div>

                                    <center><h4 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign Up</h4>
                                    </center>
                                    <div class="row gx-5">
                                        <div class="col">
                                            <input type="input" name="firstName" placeholder="Enter First Name"
                                                   class="form-control form-control-lg" maxlength="20" required/>
                                        </div>
                                        <div class="col">
                                            <input type="input" name="lastName"
                                                   class="form-control form-control-lg" placeholder="Enter Last Name"
                                                   maxlength="20" required/>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row gx-5">
                                        <div class="col">
                                            <input type="input" name="username" placeholder="Enter Username"
                                                   class="form-control form-control-lg" maxlength="20" required/>
                                        </div>
                                        <div class="col">
                                            <input type="password" name="password"
                                                   class="form-control form-control-lg" placeholder="Enter Password"
                                                   maxlength="20" required/>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="pt-1 mb-4 col-6 ">
                                        <button type="submit" class="btn btn-dark btn-lg btn-block" id="loginButton">
                                            Sign Up
                                        </button>
                                    </div>

                                    <a class="small text-muted" th:href="@{/login}">Go back</a>
                                    <br>
                                    <a href="#!" class="small text-muted">Terms of use.</a>
                                    <a href="#!" class="small text-muted">Privacy policy</a>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>